.card {
  max-width: 400;
  margin: auto;
  text-align: center;
  /* margin-top: theme.spacing(1), */
  /* paddingBottom: theme.spacing(2), */
}

.error {
  vertical-align: middle;
}
.title {
  /* marginTop: theme.spacing(2), */
  /* color: theme.palette.openTitle, */
}
.textField {
  /* margin-left: theme.spacing(), */
  /* marginRight: theme.spacing(), */
  width: 300,
}
.buttonField {
  /* marginLeft: theme.spacing(), */
  /* marginRight: theme.spacing(), */
  width: 300;
  background-color: red,
}
.submit {
  margin: "auto",
  /* marginBottom: theme.spacing(2), */
}